#pic{

  margin-top:50px;
}
  #logo {
  float:left;
  }
  #picTwo{
    width:200px;
    height:200px;
  }
.picthree{
    width: 200px;
    height:200px;
}
.navbar-brand{
  font-family: Amaranth;
  font-size: 40px;
  background: pink;
}
.title{
    font-family: Amaranth;
    background: pink;
    color: blue;
}
.tit{
    font-family: Amaranth;
    background: pink;
    color: blue;
}
.content-header-inner{
  font-family: Amaranth;
  background: pink;
  color: blue;
}
#p3{
  font-family: cursive; color: purple;
  background-color: lavender;
  font-size: 18px;
}
ul{
  font-family: monospace;
  color: lavender-gray;
  font-size: 16px;
  font-style: oblique;
}
body{
  background-color: lightpink;
}
